body
{
	background-color: #ddd;	
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
	position: absolute;
	font-family: sans-serif;
	font-size: 16px;
}

.lisha_trans
{
	position:absolute;
	top: 8%;
	bottom: 0;
	width:100%;
	z-index: 100;
}	
.lisha_check
{
	position:absolute;
	top: 8%;
	bottom: 0;
	width:100%;
	z-index: 100;
}	

.titre_account
{
	float: left;
	display: block;
	top: 0;
	left: 0;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.amount_account
{
	float: left;
	display: block;
	left: 0;
	padding-top: 5px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.bank_valider
{
	color: #33b;
}
.bank_engager
{
	color: #3b3;
}
.bank_prevu
{
	color: #b33;
}


.total_valider
{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 8%;
	width: 32%;
	background-color: #eee;
	box-shadow: 5px 2px 8px #333;
	border-radius: 10px;
	z-index: 200;
}

.total_engager
{
	position: absolute;
	display: block;
	top: 0;
	left:33%;
	height: 8%;
	width: 34%;
	background-color: #eee;
	box-shadow: 5px 2px 8px #333;
	border-radius: 10px;
	z-index: 300;
}
.total_prevu
{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	height: 8%;
	width: 32%;
	background-color: #eee;
	box-shadow: 1px 1px 2px #555;
	border-radius: 10px;
	z-index: 400;
}


.icon_prevu
{
	height:20px;
	width:20px;
	display: block;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: -20px 0;
}

.icon_engager
{
	height:20px;
	width:20px;
	display: block;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: -40px 0;
}

.icon_valider
{
	height:20px;
	width:20px;
	display: block;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.icon_transaction
{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	height:20px;
	width:20px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: -80px 0;
	z-index: 1000;
}
.icon_transaction:hover
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height:20px;
	width:20px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: -80px -20px;
	z-index: 1000;
	cursor: pointer;
}

.icon_checked
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height:20px;
	width:20px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: -60px 0;
	z-index: 1000;
}
.icon_checked:hover
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height:20px;
	width:20px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position: -60px -20px;
	z-index: 1000;
	cursor: pointer;
}