html,body
{
	margin:0;
	padding:0;
	background-color: #DDD;
}

.mydiv
{
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	line-height: 22px;
	font-size: 1em;
	text-align:left;
	background-color: #9AC8FC;
	z-index: 10;
}

.logout
 {
	 position: absolute;
	 top: 0;
	 right:0;
	 height: 20px;
	 width: 100px;
	 font-size: 1em;
	 color: #F00;
	 text-align: center;
	 -moz-box-shadow: 10px 10px 5px 5px #656565;
	 -webkit-box-shadow: 10px 10px 5px 5px #656565;
	 -o-box-shadow: 10px 10px 5px 5px #656565;
	 box-shadow: 10px 10px 5px 5px #656565;
	 -moz-border-radius: 10px;
	 -webkit-border-radius: 10px;
	 border-radius: 10px;
	 cursor: pointer;
	 z-index: 100;
 }

.logout:hover
{
	padding-top: -1px;
	font-weight: bold;
}