.normal
{
	color: #000;
	font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.title
{
	color: #3c4c6c;
	font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	font-size: 24px;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.subtitle
{
	color: #2b3b5b;
	font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.image
{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 1px;
	border-radius : 10px 10px 10px 10px;
	border-style:solid;
	borer: 2px;
	border-color: #fff;
	box-shadow: 5px 5px 10px #333;
	cursor: pointer;
}
.main_table
{
	background: #93A5BB;
	border-width: 0;
	border-radius : 5px 5px 5px 5px;
	box-shadow: 5px 5px 10px #333;	
}

.main_tr
{
	margin: 0;
	padding: 0;
	border-width: 0;
}	

.head_table
{
	padding: .3em .667em .3em .667em;
	background: #93A5BB;
	font-weight: normal;
	color: white;
	font: 13px 'Lucida Grande',Geneva,Helvetica
}
.row_table
{
	padding: 2px 10px 2px 10px;
	margin: 0;
	background-color: #fff;
	font-weight: normal;
	color: black;
	font: 13px 'Lucida Grande',Geneva,Helvetica
}

.blink_off
{
}
.blink_on
{
	color: #f00;
	box-shadow: 5px 5px 10px #333;
}

.icon_update
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-70px 0;	
}
.icon_update:hover
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-70px -35px;	
}
.icon_home
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-245px 0;	
}
.icon_home:hover
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-245px -35px;	
}
.icon_link
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-175px 0;	
}
.icon_link:hover
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-175px -35px;	
}
.icon_unval
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-210px 0;	
}
.icon_unval:hover
{
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(../../images/icons.png);
	background-repeat: no-repeat;
	background-position:-210px -35px;	
}
.icon_doc_user
{
	float: left;
	display: block;
	margin: 1px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(../../images/all.png);
	background-repeat: no-repeat;
	background-position: -400px 0;
}
.icon_doc_user:hover
{
	float: left;
	display: block;
	margin: 1px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(../../images/all.png);
	background-repeat: no-repeat;
	background-position: -880px -20px;
	cursor: pointer;
}
.icon_doc_tech
{
	float: left;
	display: block;
	margin: 1px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(../../images/all.png);
	background-repeat: no-repeat;
	background-position: -880px 0;
}
.icon_doc_tech:hover
{
	float: left;
	display: block;
	margin: 1px;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(../../images/all.png);
	background-repeat: no-repeat;
	background-position: -400px -20px;
	cursor: pointer;
}
.language_not_exists
{
	color: #f00;
	font-style:italic;
	opacity: 0.3;
}