.__blue_ico 
{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url("../../images/icons/img_16.png");
}

.__blue_ico_equal_operator {
	background-position: -980px 0;
}
.__blue_ico_equal_operator:hover {
	background-position: -980px -20px;
}
.__blue_ico_equal_operator_little {
	background-position: -490px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_like_operator {
	background-position: -1000px 0;
}
.__blue_ico_like_operator:hover {
	background-position: -1000px -20px;
}
.__blue_ico_like_operator_little {
	background-position: -500px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_greather_than_operator {
	background-position: -1020px 0;
}
.__blue_ico_greather_than_operator:hover {
	background-position: -1020px -20px;
}
.__blue_ico_greather_than_operator_little {
	background-position: -510px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_less_than_operator {
	background-position: -1040px 0;
}
.__blue_ico_less_than_operator:hover {
	background-position: -1040px -20px;
}
.__blue_ico_less_than_operator_little {
	background-position: -520px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_greather_or_equal_than_operator {
	background-position: -1060px 0;
}
.__blue_ico_greather_or_equal_than_operator:hover {
	background-position: -1060px -20px;
}
.__blue_ico_greather_or_equal_than_operator_little {
	background-position: -530px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_less_or_equal_than_operator {
	background-position: -1080px 0;
}
.__blue_ico_less_or_equal_than_operator:hover {
	background-position: -1080px -20px;
}
.__blue_ico_less_or_equal_than_operator_little {
	background-position: -540px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_null_operator {
	background-position: -1100px 0;
}
.__blue_ico_null_operator:hover {
	background-position: -1100px -20px;
}
.__blue_ico_null_operator_little {
	background-position: -550px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_contain_operator {
	background-position: -1120px 0;
}
.__blue_ico_contain_operator:hover {
	background-position: -1120px -20px;
}
.__blue_ico_contain_operator_little {
	background-position: -560px -10px;
	background-size: cover;
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	width: 10px;
}

.__blue_ico_sort-ascend {
	background-position: -600px 0;
}

.__blue_ico_sort-ascend:hover {
	background-position: -600px -20px;
}

.__blue_ico_sort-descend {
	background-position: -640px 0;
}

.__blue_ico_sort-descend:hover {
	background-position: -640px -20px;
}

.__blue_ico_back {
	background-position: -200px 0;
}

.__blue_ico_back:hover {
	background-position: -200px -20px;
}

.__blue_ico_radio_on {
	background-position: -540px 0;
}

.__blue_ico_radio_on:hover {
	background-position: -540px -20px;
}

.__blue_ico_radio_off {
	background-position: -520px 0;
}

.__blue_ico_radio_off:hover {
	background-position: -520px -20px;
}

.__blue_ico_search_mode {
	background-position: -580px 0;
}

.__blue_ico_search_mode:hover {
	background-position: -580px -20px;
}

.__blue_ico_search_mode_active {
	background-position: -1140px 0;
}

.__blue_ico_search_mode_active:hover {
	background-position: -1140px -20px;
}

.__blue_ico_advanced_search {
	background-position: -1160px 0;
}

.__blue_ico_advanced_search:hover {
	background-position: -1160px -20px;
}

.__blue_ico_sort-hide {
	background-position: -420px 0;
}

.__blue_ico_sort-hide:hover {
	background-position: -420px -20px;
}

.__blue_ico_delete {
	background-position: -260px 0;
}

.__blue_ico_delete:hover {
	background-position: -260px -20px;
}

.__blue_ico_cells_update_on {
	background-position: -1180px 0;
}

.__blue_ico_cells_update_on:hover {
	background-position: -1180px -20px;
}

.__blue_ico_cells_update_off {
	background-position: -1200px 0;
}

.__blue_ico_cells_update_off:hover {
	background-position: -1200px -20px;
}

.__blue_ico_filter {
	background-position: -360px 0;
}

.__blue_ico_filter:hover {
	background-position: -360px -20px;
}

.__blue_ico_sort_delete {
	background-position: -620px 0;
}

.__blue_ico_sort_delete:hover {
	background-position: -620px -20px;
}

.__blue_ico_values {
	background-position: -680px 0;
}

.__blue_ico_values:hover {
	background-position: -680px -20px;
}

.__blue_ico_first {
	background-position: -120px 0;
}

.__blue_ico_first:hover {
	background-position: -120px -20px;
}

.__blue_ico_previous {
	background-position: -100px 0;
}

.__blue_ico_previous:hover {
	background-position: -100px -20px;
}

.__blue_ico_next {
	background-position: -160px 0;
}

.__blue_ico_next:hover {
	background-position: -160px -20px;
}

.__blue_ico_last {
	background-position: -140px 0;
}

.__blue_ico_last:hover {
	background-position: -140px -20px;
}

.__blue_ico_refresh {
	background-position: -660px 0;
}

.__blue_ico_refresh:hover {
	background-position: -660px -20px;
}

.__blue_ico_column_display {
	background-position: -300px 0;
}

.__blue_ico_column_display:hover {
	background-position: -300px -20px;
}

.__blue_ico_column_option {
	background-position: -240px 0;
}

.__blue_ico_column_option:hover {
	background-position: -240px -20px;
}

.__blue_ico_save {
	background-position: -960px 0;
}

.__blue_ico_save:hover {
	background-position: -960px -20px;
}

.__blue_ico_save_pref {
	background-position: -560px 0;
}

.__blue_ico_save_pref:hover {
	background-position: -560px -20px;
}

.__blue_ico_load {
	background-position: -380px 0;
}

.__blue_ico_load:hover {
	background-position: -380px -20px;
}

.__blue_ico_display_table {
	background-position: -320px 0;
}

.__blue_ico_display_table:hover {
	background-position: -320px -20px;
}

.__blue_ico_add_line {
	background-position: 0 0;
}

.__blue_ico_add_line:hover {
	background-position: 0 -20px;
}

.__blue_ico_page_edit {
	background-position: -500px 0;
}

.__blue_ico_page_edit:hover {
	background-position: -500px -20px;
}

.__blue_ico_delete {
	background-position: -260px 0;
}

.__blue_ico_delete:hover {
	background-position: -260px -20px;
}

.__blue_ico_excel {
	background-position: -340px 0;
}

.__blue_ico_excel:hover {
	background-position: -340px -20px;
}

.__blue_ico_help {
	background-position: -400px 0;
}

.__blue_ico_help:hover {
	background-position: -400px -20px;
	cursor: pointer;
}


.__blue_ico_cancel {
	background-position: -1220px 0;
}

.__blue_ico_cancel:hover {
	background-position: -1220px -20px;
}

.__blue_ico_valide {
	background-position: -900px 0;
}

.__blue_ico_valide:hover {
	background-position: -900px -20px;
}

.__blue_ico_bullet {
	background-position: -180px 0;
}

.__blue_ico_bullet:hover {
	background-position: -180px -20px;
}

.__blue_ico_bullet_on {
	background-position: -700px 0;
}

.__blue_ico_bullet_on:hover {
	background-position: -700px -20px;
}

.__blue_ico_column_header {
	background-position: -480px 0;
}

.__blue_ico_column_header:hover {
	background-position: -480px -20px;
}

.__blue_ico_column_header_on {
	background-position: -460px 0;
}

.__blue_ico_column_header_on:hover {
	background-position: -460px -20px;
}

.__blue_ico_arrow_menu_child {
	background-position: -40px 0;
}

.__blue_ico_arrow_menu_child:hover {
	background-position: -40px -20px;
}

.__blue_ico_arrow_menu_child_hover {
	background-position: -20px 0;
}

.__blue_ico_arrow_menu_child_hover:hover {
	background-position: -20px -20px;
}

.__blue_ico_arrow_top {
	background-position: -80px 0;
}

.__blue_ico_arrow_top:hover {
	background-position: -80px -20px;
}

.__blue_ico_arrow_bottom {
	background-position: -60px 0;
}

.__blue_ico_arrow_bottom:hover {
	background-position: -60px -20px;
}

.__blue_ico_column_move {
	background-position: -220px 0;
}

.__blue_ico_column_move:hover {
	background-position: -220px -20px;
}


.__blue_ico_lmod_arrow {
	background-position: -440px 0;
}

.__blue_ico_lmod_arrow:hover {
	background-position: -440px -20px;
}

.__blue_ico_right{
	background-position: -720px 0;
}

.__blue_ico_right:hover{
	background-position: -720px -20px;
}

.__blue_ico_center{
	background-position: -740px 0;
}

.__blue_ico_center:hover{
	background-position: -740px -20px;
}

.__blue_ico_left{
	background-position: -760px 0;
}

.__blue_ico_left:hover{
	background-position: -760px -20px;
}

.__blue_ico_calendar{
	background-position: -780px 0;
}

.__blue_ico_calendar:hover{
	background-position: -780px -20px;
}

.__blue_ico_right_calendar{
	background-position: -800px 0;
}

.__blue_ico_right_calendar:hover{
	background-position: -800px -20px;
}

.__blue_ico_left_calendar{
	background-position: -820px 0;
}

.__blue_ico_left_calendar:hover{
	background-position: -820px -20px;
}

.__blue_ico_top_calendar{
	background-position: -840px 0;
}

.__blue_ico_top_calendar:hover{
	background-position: -840px -20px;
}

.__blue_ico_bottom_calendar{
	background-position: -860px 0;
}

.__blue_ico_bottom_calendar:hover{
	background-position: -860px -20px;
}
.__blue_ico_tech_help {
	background-position: -880px 0;
}

.__blue_ico_tech_help:hover {
	background-position: -880px -20px;
	cursor: pointer;
}
.__blue_ico_col_feat {
	background-position: -920px 0;
}

.__blue_ico_col_feat:hover {
	background-position: -920px -20px;
}